<ul class="social-media-list">
    <li><a href="https://github.com/joaofbantunes"><i class="fab fa-github"></i> <span class="username">joaofbantunes</span></a></li>
    <li><a href="https://www.twitter.com/joaofbantunes"><i class="fab fa-twitter"></i> <span class="username">joaofbantunes</span></a></li>
    <li><a href="https://www.youtube.com/c/CodingMilitia"><i class="fab fa-youtube"></i> <span class="username">Coding Militia</span></a></li>
    <li><a href="https://www.linkedin.com/in/joaofbantunes"><i class="fab fa-linkedin"></i> <span class="username">joaofbantunes</span></a></li>
    <li><a href="https://dev.to/joaofbantunes"><i class="fab fa-dev"></i> <span class="username">joaofbantunes</span></a></li>
    <li><a href="{{ 'feed.xml' | relative_url }}"><i class="fas fa-rss-square"></i> <span class="username">rss</span></a></li>
</ul>