{{ define "main" }}
  <div>
    <h2>Archives</h2>
    <div>
      <h3>Categories</h3>
      {{ range .Site.Taxonomies.categories }}
        <a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a>
      {{ end }}
    </div>
    <div>
      <h3>Tags</h3>
      {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a>
      {{ end }}
    </div>
    <div>
      <h3>By date</h3>
      {{ range (where (where .Site.Pages "Section" "posts") "Kind" "page" ).ByDate.Reverse.GroupByDate "2006-01" }}
        <h4>{{ (index .Pages 0).Date.Format "2006 January" }}</h4>
        <ul class="archives-list">
          {{ range .Pages }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
{{ end }}
