<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <ul class="pagination-list">
    {{ if and (ne .First .) (ne .First .Prev)}}
    <li><a class="pagination-previous" href="{{.First.URL}}">1</a></li>
    {{ end }}
    {{ if gt .PageNumber (add .First.PageNumber 3) }}
    <li>...</li>
    {{end}}
    {{ if .HasPrev}}
        {{ if and .Prev.HasPrev (ne .First .Prev.Prev) }}
        <li><a class="pagination-next" href="{{.Prev.Prev.URL}}">{{.Prev.Prev.PageNumber}}</a></li>
        {{ end }}
        <li><a class="pagination-previous" href="{{.Prev.URL}}">{{.Prev.PageNumber}}</a></li>
    {{ end }}
    <li><a class="pagination-link is-current" aria-label="Page {{.PageNumber}}" aria-current="page">{{.PageNumber}}</a></li>
    {{ if and .HasNext (ne .Last .Next)}}
        <li><a class="pagination-next" href="{{.Next.URL}}">{{.Next.PageNumber}}</a></li>
        {{ if and .Next.HasNext (ne .Last .Next.Next) }}
            <li><a class="pagination-next" href="{{.Next.Next.URL}}">{{.Next.Next.PageNumber}}</a></li>
        {{ end }}
    {{ end }}
    {{ if lt .PageNumber (sub .Last.PageNumber 3) }}
        <li>...</li>
    {{end}}
    {{ if ne .Last . }}
        <li><a class="pagination-link" href="{{.Last.URL}}">Last ({{.Last.PageNumber}})</a></li>
    {{ end }}
</ul>
</nav>