<span>Social media and other links:</span>
<ul class="social-media-list">
  <li><a href="https://antunes.dev" title="antunes.dev"><i class="fas fa-link"></i></a></li>
  <li><a href="https://mvp.microsoft.com/en-us/PublicProfile/5003375" title="MVP Profile"><i
        class="fas fa-user-circle"></i></a></li>
  <li><a href="https://github.com/joaofbantunes" title="GitHub"><i class="fab fa-github"></i></a></li>
  <li><a href="https://www.twitter.com/joaofbantunes" title="Twitter"><i class="fab fa-twitter"></i></a></li>
  <li><a href="https://www.youtube.com/c/CodingMilitia" title="YouTube"><i class="fab fa-youtube"></i></a></li>
  <li><a href="https://twitch.tv/joaofbantunes" title="Twitch"><i class="fab fa-twitch"></i></a></li>
  <li><a href="https://www.linkedin.com/in/joaofbantunes" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
  </li>
  <li><a href="https://dev.to/joaofbantunes" title="dev.to"><i class="fab fa-dev"></i></a></li>
  <li><a rel="me" href="https://mastodon.social/@joaofbantunes" title="Mastodon"><i class="fab fa-mastodon"></i></a></li>
  <li><a href="/feed.xml" title="RSS"><i class="fas fa-rss-square"></i></a></li>
</ul>